#!/bin/bash

# Database Information
export DB_USER=''
export DB_NAME=''
export BACKUP_PATH=''
export BACKUP_PREFIX=''

# Rackspace Information
export CF_USERNAME=''
export CF_API_KEY=''
export CF_BACKUP_CONTAINER=''

# Application Settings
export LOG_FILE=''
